<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="col-md-8">
    <h3>Change email or password</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          <p>Waiting confirmation for:</p>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
        <i>(leave blank if you don't want to change it)</i>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter password" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <h3>Edit personal information</h3>
    <%= form_for(current_user) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter name", autofocus: true %>
      </div>
  
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>
    <h3>Account Status</h3>
      <body>You currently have a <%=current_user.role%> account. 
        <%if current_user.role=="standard"%>
        Upgrade to a premium user for $15.  Premium accounts will allow you to maintain private wikis. </body>
    </br>
    <%= render partial: 'charges/new'%>
      <%else%>
      <body>Unhappy with your premium account?  Use the button below to downgrade back to a standard user.  Your $15 charge will be fully refunded and any private wikis created will be made public.
        <div class="form-group">
        <div class="form-group">
        <p><%= button_to "Downgrade my account", downgrade_user_path(current_user), method: :get, class: 'btn btn-danger' %></p>
    
    </div>
      <%end%>

    <h3>Cancel my account</h3>
    <div class="form-group">
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
    
    </div>
  </div>
</div>
